/*Palette
(TEAL)#3F6462
(NAVY)#0B2732
(PINK) #F7AB99
(BLACK)#030C0B 
(PALE)#F6E0FC*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: auto;
  font-family: 'Cookie';
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  background-color: #f6e0fc;
  scroll-behavior: smooth;
}

/*-------------------------------Nav Bar - Hamburger Menu--------------------*/
#navListItems li{
    list-style-type: none;
}
#navListItems a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid #f6e0fc;
    color: #f6e0fc;
    padding:5px;
    text-align: left;
}

#hamburgerNav label{
    display: inline-block;
    color: #f6e0fc;
    font-style: normal;
    font-size: 3.2em;
    padding: 10px;
}

#navListItems{
    display: none;
}

#hamburgerNav input:checked ~ #navListItems{
    display: block;
}

/*--------------------------------------Main Content---------------------*/
.heroContent {
    background-image: url(../images/cover.png);
    background-position: center;
    background-size: cover;
  border: solid #f6e0fc 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  margin: auto;
  gap: 50px;
  padding: 60px;
}

h1 {
  color: #0B2732;
  align-self: center;
  font-size: 30px;
  align-items: center;
}

/*Main Gallery Show/Hide Button Style*/
#galleryButton {
  border: 1px #0B2732 solid;
  text-align: center;
  background-color: #0B2732;
  color: #f6e0fc;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  align-self: center;
  opacity: 75%;
}

#galleryButton:hover {
  opacity: 100%;;
}

/*------------------------------Galllery---------------------------------*/
/*Hidden at first*/
#main-gallery {
  display: none;
}

/*categories buttons style*/
.inputContainer{
  width: 100%;
  opacity: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;

}

.inputContainer button {
  color: #3F6462;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  border:none;
  border-bottom: solid #3F6462 3px;
  background-color: #f6e0fc;
  padding: 5px;
}

.inputContainer button:hover {
  color: #030C0B;
  border-bottom: solid #030C0B 3px;
  background-color: #F7AB99;
}

/*Hidden gallery sections*/

#nature, #sky, #doubleE {
  display: none;
}

/*Positioning images in galleries*/
.galleryContainer {
  background-color: #f6e0fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.galleryRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.galleryColumn {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
}

/*------------------------------About Me---------------------------------*/
#aboutContainer {
  border: solid #f6e0fc 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: auto;
}

.aboutContainerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 15px;
  width: 100%;
}

p {
  color: #f6e0fc;
  font-size: 20px;
  padding: 15px;
  border: solid #f6e0fc 0px;
  background-color: #3f646286;
  border-radius: 15px;
  width: 100%;
  font-weight: bold;
}

/*------------------------------Contact Me---------------------------------*/
#contactContainer {
  background-color: #3f646286;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  margin: auto;
}

.contactContainerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formContainer {
  background-color: #f6e0fc;
  width: 300px;
  height: fit-content;
  padding: 5px;
}

/*------------------------------Footer---------------------------------*/
footer {
  color: #f6e0fc;
  height: fit-content;
  background-color: #3F6462;
  margin: auto;
}
.footerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
}

/*------------------------------Medium Width Screens---------------------------------*/
@media (min-width: 800px){

  /*background appears*/
    body{
        background-image: url("../images/cover.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .heroContent{
        width: 80%;
        background-image: none;
    }

    h1 {
      color: #f6e0fc;
      font-size: 40px;
      padding: 50px;
    }

/*Hide Hamburger and show vertical nav menu*/
    #hamburgerNav {
        width:100%;
        background: none;
    }

    #navListItems {
        display: flex;
        justify-content: space-evenly;
    }

    #navListItems a{
        text-decoration: none;
        font-weight: bold;
    }

    #navListItems a:hover{
        color: #3f646286;
        border-color: #3f646286;
    
    }

    #hamburgerNav label, #hamburger {
        display: none;
    }

    #main-gallery {
      display: none;
    }
    .galleryContainer{
        width: 80%;
    }

    #aboutContainer{
      width: 80%;
      height: fit-content;
      align-items: center;
      justify-content: center;
  }

  .aboutContainerContent{
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }

    #contactContainer{
      background-image: url("../images/contactBG.jpg");
  background-position: left bottom;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
        width: 80%;
        height: fit-content;
        padding: 50px;
    }

    .contactContainerContent{
      flex-direction: column;
      width: 80%;
    }

    footer{
        width: 80%;
    }

    .inputContainer{
      width: 100%;
      opacity: 50%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
    }

    p{
      color: #f6e0fc;
    }

    .footerContainer{
      display: flex;
      flex-direction: row;
    }
  }

/*------------------------------Larger Width Screens---------------------------------*/
@media (min-width: 1200px){
    .heroContent{
        width: 80%;
    }

    #main-gallery {
      display: none;
    }

    .galleryContainer {
        width: 80%;
        background-color: #f6e0fc;
    }

    #galleryItems{
      flex-direction: row;
      width: auto;
      gap:10px;
    }

    .galleryColumn {
      flex: 33.3%;
      max-width: 33.3%;
    }

    #aboutContainer{
      width: 80%;
      height: fit-content;
      align-items: center;
      justify-content: center;
  }

  .aboutContainerContent{
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

  }

    #contactContainer{
        width: 80%;
    }

    .contactContainerContent{
      flex-direction: row;
      justify-content: space-evenly;
    }

    footer{
        width: 80%;
    }

    .inputContainer{
      width: 100%;
      opacity: 50%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
    }

    p{
      width: 40%;
    }
  }