* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  scroll-behavior: smooth;
}

#navListItems li{
    list-style-type: none;
}
#navListItems a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
    padding:10px;
    text-align: left;
}

#hamburgerNav label{
    display: inline-block;
    color: white;
    background: #0a2328a3;
    font-style: normal;
    font-size: 3.2em;
    padding: 10px;
}

#navListItems{
    display: none;
}

#hamburgerNav input:checked ~ #navListItems{
    display: block;
}

.heroContent {
    background-image: url("/images/cover.PNG");
    background-position: center;
    background-size: cover;
  border: solid white 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: auto;
  gap: 100px;
  padding: 50px;
}



h1 {
  color: black;
  align-self: center;
}

button {
  border: 0;
  line-height: 1;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  background-color: #0a2328a3;
  border-radius: 10px;
  align-self: center;
}

button > a {
  color: #f7b9aa;
  opacity: 75%;
}

button:hover {
  background-color: #0a2328;
}

.galleryContainer {
  border: solid white 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 15px;
}

#galleryItems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
}

#galleryItems li {
  list-style-type: none;
}

#galleryItems a{
  box-sizing: border-box;
  display: block;
  background-color: aqua;
  color: white;
  padding:5px;
  text-align: center;
  flex: 100%;
}

.galleryRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.galleryColumn {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
}


/*.categorySlides {
  width: 550px;
  height: 500px;
  position: relative;
}

.categorySlides img {
  width: 100%;
  height: 100%;
}

.categorySlides a {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.categorySlides a:hover {
  font-size: 30px;
}*/

#aboutContainer {
  background-color: #f7b9aa;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  padding-bottom: 20px;
  background-size: contain;
  margin: auto;
  scroll-behavior: smooth;
}

.aboutContainerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

p {
  font-size: 40px;
}

#contactContainer {
  background-image: url("/images/skycover.PNG");
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-size: contain;
  margin: auto;
}

footer {
  color: #4e6e66;
  height: 100px;
  background-color: #f7b9aa;
  margin: auto;
}

@media (min-width: 800px){
    body{
        background-image: url("/images/cover.PNG");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .heroContent{
        width: 80%;
        background-image: none;
    }

    #hamburgerNav {
        width:100%;
        background: none;
    }

    #navListItems {
        display: flex;
        justify-content: space-evenly;
    }

    #navListItems a{
        text-decoration: none;
    }

    #navListItems a:hover{
        background-color: white;
    
    }

    #hamburgerNav label, #hamburger {
        display: none;
    }

    /*nav {
        padding: 0px 15px;
      }
      
      a {
        color: black;
        text-decoration: none;
      }
      
      a:hover {
        color: aqua;
      }
      
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }*/

    .galleryContainer{
        width: 80%;
    }

    #aboutContainer{
        width: 80%;
    }

    #contactContainer{
        width: 80%;
    }

    footer{
        width: 80%;
    }

}

@media (min-width: 1200px){
    .heroContent{
        width: 80%;
    }

    .galleryContainer {
        width: 80%;
    }

    #galleryItems{
      flex-direction: row;
      width: auto;
      gap:10px;
    }

    .galleryColumn {
      flex: 33.3%;
      max-width: 33.3%;
    }

    #aboutContainer{
        width: 80%;
    }

    #contactContainer{
        width: 80%;
    }

    footer{
        width: 80%;
    }
}