

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: auto;
  font-family: 'Cookie', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  scroll-behavior: smooth;
}


#navListItems li{
    list-style-type: none;
}
#navListItems a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
    padding:10px;
    text-align: left;
}

#hamburgerNav label{
    display: inline-block;
    color: white;
    background: #0a2328a3;
    font-style: normal;
    font-size: 3.2em;
    padding: 10px;
}

#navListItems{
    display: none;
}

#hamburgerNav input:checked ~ #navListItems{
    display: block;
}

.heroContent {
    background-image: url("/images/cover.PNG");
    background-position: center;
    background-size: cover;
  border: solid white 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  margin: auto;
  gap: 100px;
  padding: 50px;
}



h1 {
  color: navy;
  align-self: center;
  font-size: 30px;
}

#galleryButton {
  border: 3px white solid;
  text-align: center;
  background-color: navy;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  align-self: center;
  opacity: 75%;
}

#galleryButton:hover {
  opacity: 100%;;
}

/*#heroBtn {
  border: 0;
  line-height: 1;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  background-color: #0a2328a3;
  border-radius: 10px;
  align-self: center;
}

#heroBtn:hover {
  background-color: white;
}*/

#main-gallery {
  display: none;
}

.galleryContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.galleryRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.galleryColumn {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.galleryColumn img {
  margin-top: 8px;
  vertical-align: middle;
}

.inputContainer{
  width: 100%;
  opacity: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;

}

input {
  color: navy;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  border: none;
  border-bottom: solid navy 3px;
  background-color: white;
}

input:hover {
  background-color: lightgray;
}

#nature, #sky, #doubleE {
  display: none;
}

#aboutContainer {
  border: solid white 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: auto;
}

.aboutContainerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 15px;
  width: 100%;
}

p {
  color: navy;
  font-size: 20px;
  padding: 15px;
  border: solid white 2px;
  background-color: rgba(255, 255, 255, 0.241);
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}



#contactContainer {
  background-color: paleturquoise;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  margin: auto;
}

.contactContainerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactContainerContent div {
  background-color: white;
  width: 300px;
  height: 200px;
}

footer {
  color: #4e6e66;
  height: 100px;
  background-color: #f7b9aa;
  margin: auto;
}

@media (min-width: 800px){
    body{
        background-image: url("/images/cover.PNG");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .heroContent{
        width: 80%;
        background-image: none;
    }

    h1 {
      color: white;
      font-size: 40px;
    }

    #hamburgerNav {
        width:100%;
        background: none;
    }

    #navListItems {
        display: flex;
        justify-content: space-evenly;
    }

    #navListItems a{
        text-decoration: none;
        font-weight: bold;
    }

    #navListItems a:hover{
        color: lightblue;
    
    }

    #hamburgerNav label, #hamburger {
        display: none;
    }

    #main-gallery {
      display: none;
    }
    .galleryContainer{
      display: none;
        width: 80%;
    }

    #aboutContainer{
      width: 80%;
      height: fit-content;
      align-items: center;
      justify-content: center;
  }

  .aboutContainerContent{
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

  }

    #contactContainer{
      background-image: url("/images/contactBG.jpg");
  background-position: left bottom;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
        width: 80%;
        height: fit-content;
        padding: 200px;
    }

    .contactContainerContent{
      flex-direction: column;
      width: 80%;
    }

    footer{
        width: 80%;
    }

    .inputContainer{
      width: 100%;
      opacity: 50%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
    }

    p{
      color: white;
    }

}

@media (min-width: 1200px){
    .heroContent{
        width: 80%;
    }

    #main-gallery {
      display: none;
    }

    .galleryContainer {
        width: 80%;
        background-color: white;
    }

    #galleryItems{
      flex-direction: row;
      width: auto;
      gap:10px;
    }

    .galleryColumn {
      flex: 33.3%;
      max-width: 33.3%;
    }

    #aboutContainer{
      width: 80%;
      height: 700px;
      align-items: center;
      justify-content: center;
  }

  .aboutContainerContent{
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

  }

    #contactContainer{
        width: 80%;
    }

    .contactContainerContent{
      flex-direction: row;
      justify-content: space-evenly;
    }

    footer{
        width: 80%;
    }

    .inputContainer{
      width: 100%;
      opacity: 50%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
    }

    p{
      width: 50%;
    }

  }